<app-header></app-header>
    <div class="main">

        <body>
            <section class="header">
                <div class="banner">
                    <!-- <img src="bg.png" alt="" /> -->
                    <div class="title">
                        <h2>Pricing to Match your event type</h2>
                        <div class="text">
                            <p>We are all about making your event seamless</p>
                            <p>All plans come with online support and all prices exclude tax</p>
                        </div>
                    </div>

                    <div class="cta">
                        <button class="btn btn-monthly">Monthly</button>
                        <button class="btn btn-annually">&nbsp; &nbsp; Annually</button>
                    </div>
                </div>
            </section>
            <section class="pricing">
                <div class="card">
                    <div class="card-title">
                        <h3>Basic</h3>
                        <p>#15,000 <span>/month</span></p>

                        <h4>Upgrade your event experience</h4>
                    </div>

                    <div>
                        <ul class="list">
                            <li>⚫ Event Creation</li>
                            <li>⚫ Ticketing</li>
                            <li>⚫ Access Control</li>
                            <li>⚫ Reporting</li>
                            <li>⚫ Monitoring</li>
                            <li>⚫ Parking</li>
                            <li>⚫ Collaborations</li>
                        </ul>
                    </div>
                    <button class="card-btn">Choose Plan</button>
                </div>

                <div class="card color-card">
                    <div class="card-title">
                        <h3>Standard</h3>
                        <p>#15,000 <span>/month</span></p>

                        <h4>Upgrade your event experience</h4>
                    </div>

                    <div>
                        <ul class="list">
                            <li>⚪ Event Creation</li>
                            <li>⚪ Ticketing</li>
                            <li>⚪ Access Control</li>
                            <li>⚪ Reporting</li>
                            <li>⚪ Monitoring</li>
                            <li>⚪ Parking</li>
                            <li>⚪ Collaborations</li>
                        </ul>
                    </div>
                    <button class="card-btn">Choose Plan</button>
                </div>

                <div class="card">
                    <div class="card-title">
                        <h3>Premium</h3>
                        <p>#15,000 <span>/month</span></p>

                        <h4>Upgrade your event experience</h4>
                    </div>

                    <div>
                        <ul class="list">
                            <li>⚫ Event Creation</li>
                            <li>⚫ Ticketing</li>
                            <li>⚫ Access Control</li>
                            <li>⚫ Reporting</li>
                            <li>⚫ Monitoring</li>
                            <li>⚫ Parking</li>
                            <li>⚫ Collaborations</li>

                        </ul>
                    </div>
                    <button class="card-btn">Choose Plan</button>
                </div>
            </section>
        </body>

    </div>

